.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.container .mat-form-field + .mat-form-field {
  flex-direction: column;
  align-items: center;
}

.left-align {
  text-align: left;
}

input.left-align::-webkit-outer-spin-button,
input.left-align::-webkit-inner-spin-button {
  display: none;
}

input.left-align {
  -moz-appearance: textfield;
  width: 50%;
}

.mat-card {
  width: 80vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.mat-flat-button {
  margin: 5%;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.back-button {
  display: flex;
  align-self: flex-start;
}

.title {
  display: flex;
  align-self: center !important;
  justify-self: center !important;
}
