@use "../../../../core/styles/global.scss";
@use "../../../../core/styles/colors.scss" as colors;

.container {
  display: flex;
  flex-direction: column;

}

.container .mat-form-field + .mat-form-field {
    flex-direction: column;
    align-items: center;
}
  
  .right-align {
    text-align: right;
  }
  
  input.right-align::-webkit-outer-spin-button,
  input.right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.right-align {
    -moz-appearance: textfield;
  }

.mat-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}