<mat-sidenav-container [ngClass]="{ 'my-light-theme': isLightTheme }">
  <mat-sidenav-content class="login-form">
    <div *ngIf="!isUserLogged; else loggedInBlock">
      <p class="mat-display-1">{{ title }}</p>
      <app-authorize></app-authorize>
    </div>
    <ng-template #loggedInBlock>
      <app-session-main
        *ngIf="isInGame; else homeBlock"
        class="session-main"
      ></app-session-main>
      <ng-template #homeBlock>
        <app-home></app-home>
      </ng-template>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
