<button
  mat-flat-button
  (click)="isOpen = !isOpen"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  class="chat"
>
  {{ isOpen ? "Close Chat" : "Open Chat" }}
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <mat-card class="chat-card scrollable">
    <div>
      <app-message
        *ngFor="let message of messages$ | async"
        [messageDto]="message"
      ></app-message>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-placeholder> Type message. </mat-placeholder>
        <textarea
          matInput
          [(ngModel)]="messageToSend"
          name="messageToSend"
        ></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="sendMessage()">
        Send Message
      </button>
    </div>
  </mat-card>
</ng-template>
