<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Chat </mat-panel-title>
      <app-message
        *ngFor="let message of messages$ | async"
        [messageDto]="message"
      ></app-message>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-placeholder> Type message. </mat-placeholder>
        <textarea
          matInput
          [(ngModel)]="messageToSend"
          name="messageToSend"
        ></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="sendMessage()">
        Send Message
      </button>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
