<div *ngIf="!joinedSession">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter Session ID</mat-label>
    <input matInput [(ngModel)]="sessionID" name="sessionID" />
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="enterSession()">
    Connect
  </button>
</div>
<div *ngIf="joinedSession">
    <app-message-list [messages]="messages"></app-message-list>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Type message</mat-label>
        <textarea  matInput [(ngModel)]="messageToSend" name="messageToSend"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="sendMessage()">Send Message</button>
</div>
